@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Bellefair&family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    outline: 0;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    background-color: #0D0D0D;
    position: relative;
    overflow: hidden;
    color: #ffffff;
 }
 
 /*Header */

 header {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    
 }

/*navbar*/

nav{
    margin: 0 auto;
    top: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #0D0D0D;
    font-family: Poppins; 
    z-index: 1000;
}


nav ul{
    display: flex;
    justify-content: center;
    gap: 5em;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    position: relative;
    transition: 0.5s;
}
nav ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #404040;
    transition: 0.3s;
}

nav ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: center;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img{
    width: 50px;
    height: 50px;
}


/*Burger menu*/
.burger_nav{
    display: none;
    justify-content: space-between;
    padding: 10px 30px;
}

.menu_button{
    display: flex;
    align-items:center;
    font-size: 20px;
    cursor: pointer;
}

.burger_menu{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    
}

.bar{
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: #ffffff;
    transition: 0.5s;
}

.first_bar{
    position: absolute;
    transform: rotate(-45deg);
    background-color: #ffffff;
    width: 60%;
    top:45%;
    transition: 0.2s;
}

.second_bar{
    position: absolute;
    transform: rotate(45deg);
    background-color: #ffffff;
    width: 60%;
    top:45%;
    transition: 0.2s;
}

.third_bar{
    display: none;
}

.hidden_nav{
    position: absolute;
    width: 100%;
    height: 0px;
    top:100%;
    background-color: #0D0D0D;
    transition: 0.5s;
}

.hidden_nav.open{
    height: 160px;
    transition: 0.5s;
    transform-origin: top;
}

.grid_container{
    display: grid;
    transform:translateY(-200%);
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    column-gap:20px;
    z-index: -1;
}

.grid_container a{
    position: relative;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom:1px solid #404040;
}

.grid_container a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.3s;
}

.grid_container a:hover::after{
    transform: scaleX(1); 
    transform-origin: center;
}

.arrow{
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.grid_container.displ{
    transition: 0.5s;
    transform:translateY(0);
    z-index: 300;
}


/*Header content*/
/**/
.header__statue{
    z-index: 1;
    filter: drop-shadow( 2px 2px 20px rgba(255, 255, 255, 0.5));
}

.header__circle{
    width: 1340px;
    height: 1340px;
    position: absolute;
    right: -13%;
    top: 7em;
    z-index: 0;
}
/*Main*/

main {
    min-height: 200vh;
    flex: 1 1 auto;
    z-index: 1;
    background-color: #0D0D0D;
    position: relative;
    top: -10px;
    
}
 
/*About*/

section#about{
    position: relative;
    top: -11em;
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(13, 13, 13, 0.5);
}

.intro{
    font-family: Bellefair; 
    font-size: 91px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.container_about{
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    text-align:initial;
    position: relative;
    overflow: hidden;
}

.for_padding{
    padding: 0 20px;
}

.plast{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background-color: #000000;
}
/*Left side*/

.container_about_left{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3em;
    z-index: 1;
    gap: 2em;
}

.container_about_left .heading{
    font-size: 91px;
    font-family: Bellefair;
    
}

.text_under_heading{
    font-size: 27px;
}

/*Right side*/

.container_about_right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2em;
}

.img-about{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/*Lines*/

.line-1{
    position: absolute;
    width: 120%;
    height: 1px;
    background-color: #6d6c6c;
    top: 10%;
    left: 2%;
    z-index: 2;
}

.line-2{
    position: absolute;
    width: 1px;
    height: 120%;
    background-color: #6d6c6c;
    top: 5%;
    left: 10%;
    z-index: 2;
}

.line-3{
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #6d6c6c;
    top: -10%;
    right: 10%;
    z-index: 2;
}

.line-4{
    position: absolute;
    width: 30%;
    height: 1px;
    background-color: #6d6c6c;
    bottom: 10%;
    left:0;
    z-index: 2;
}

.circle_about{
    position: absolute;
    width: 852px;
    height: 852px;
    left: -11em;
    bottom: -6em;
}

.container_about_right .img-about img{
    z-index: 2;
}

.text_under_image{
    font-size: 24px;
    z-index: 1;
    padding: 0 10px;
}

.container_about a{
    position: relative;
    display: flex;
    background: #404040;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 1s;
    z-index: 1;
    left: 6em;
    margin-bottom: 10px;
}

.container_about a:hover {
    transition: 0.5s;
    background-color: white;
    span{
        color: #404040;
    }
}

.container_about a span{
    position: absolute;
    left:40%;
    top: 0.7em;    
    width: 5em;
    font-family: Bellefair;
    font-size: 32px;
    color:white;
}

/*Event section*/

section#events_slider{
    position: relative;
    width: 100%;
    min-height: 300px;
}

.events{
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 0 20px;
}

.events_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading_text{
    position: relative;
    font-family: Bellefair;
    font-size: 72px;
}

.heading_line_top{
    width: 50%;
    height: 1px;
    background-color: #727272;
    position: absolute;
    left: 0;
    top: -10px;
}
.heading_line_bottom{
    position: absolute;
    width: 150%;
    height: 1px;
    background-color: #B9B9B9;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.view{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    background: none;
    color: #FFFFFF;
    font-family: Bellefair;
    font-size: 22px;
    
}


/*Slider*/
.slider_events_container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 640px;
 
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(207, 199, 199, 0.529);
}

.events-slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    display: flex;
    align-items: end;
    min-width: 100%;
    height: 640px;
    box-sizing: border-box;
    background: lightgray;
    gap:10px;
}

.first{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('src/slide_1_bg.png');
}

.slide_container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 3em;
    padding: 3em;
}

.info_container{
    display: flex;
    align-items: center;
}


.info_container p{
    margin-right: 10px;
    font-family: Bellefair;
    font-size: 67px;
}

.inscription{
    display: flex;
    flex-direction: column;
    gap:0.9em;
}

.inscription ul{
    list-style-type: none;
}

.inscription ul li{
    position: relative;
    font-family: Bellefair;
    font-size: 29px;
}

li::before {
    content: '';  
    position: absolute;
    left: -30px; 
    top: 50%;
    width: 17px;
    height: 17px;
    background-color: white; 
    border-radius: 50%; 
    box-shadow: 0px 0px 0px 5px rgba(234, 230, 230, 0.3);  /* Тень только для маркера */
    transform: translateY(-50%);
}

.date{
    font-size: 12px;
}

.description{
    font-size: 15px;
}

.click_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.click_container a:hover{
    color: #404040;
    transition: 0.3s;
}


.beautiful_button{
    position: relative;
    display: flex;
    background: #404040;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.5s;
    z-index: 1;
}

.beautiful_button:hover {
    transition: 0.5s;
    background-color: white;
    span{
        color: #404040;
    }
}

.beautiful_button span{
    position: absolute;
    left:40%;
    top: 0.7em;    
    width: 6em;
    color:white;
}


.second{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('src/slide_2_bg.png');
}

/*Manipulation part*/

.slider_manipulators_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 70px;
    position: relative;
    top:-40px;
}

.slider_line{
    width: 295px;
    height: 20px;
    background-color: #282828;
    border-radius: 50px;
}
.slider_switcher{
    width: 50px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50px;
}
.event-buttons{
    display:flex;
    gap:20px;
}

.event-buttons button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #282828;
    color:white;
    border:none;
}

/*Exhibition*/

section#exhibition{
    width: 100%;
    min-height: 300px;
}

.exhibition_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.exhibition_heading{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.exhibition_heading .heading_text{
    margin-bottom: 30px;
}

.image_container{
    width: 1230px;
    height: 1090px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Равномерное распределение элементов */
    align-items: flex-start;
    flex-wrap: wrap;
}

.tile{
    position: relative;
    width: 410px;
    height: auto;
}

.tile img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.tile_description{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    padding: 30px;
    text-indent: 20px;
    opacity: 0;
    transition: 1s;
    background: rgba(0, 0, 0, 0.4); 
}

.tile p{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    place-items: end;
    padding: 30px;
}

.tile:hover{
    .tile_description{
        opacity: 1;
        transition: 1s;
    }
}

/*Products*/

section#products{
    width: 100%;
    min-height: 500px; 
    margin-bottom: 20px; 
}

.products_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 0 20px;
}

.products_heading{
    position: relative;
    width: 60%;
    text-align: center;
    font-family: Bellefair;
    font-size: 100px;
    margin-top: 40px;
}

.products_heading img{
    position:absolute;
    top:50%;
}

.notswap{
    right:-3.5em;
}

.swap{
    transform: scaleX(-1) scaleY(-1);  
    left:-3.5em;
}

/*Product slider*/

.products_slider_container{
    width: 100%;
    height: 600px;
    margin-top: 30px;
    position: relative;
}

.products_slides{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around ;
    transition: transform 0.5s ease;
    gap: 30px;
}

.product_slide{
    width: 450px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #40404024;
}

.product_slide a{
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.product_slide img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.product_slider_manipulators_container{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    top:0;
}

.product_prev, .product_next{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #282828;
    color:white;
    border:none;
    opacity: 1; /*to change*/
    transition: 1s;
    cursor:pointer;
    position: absolute;
    top: 50%;
}

.product_prev{
    left: 1%;
}

.product_next{
    right: 1%;
}

.products_slider_container:hover{
    .product_prev, .product_next{
        transition: 1s;
        opacity: 1;
    }
    
}

.beautiful_button_store{
    position: relative;
    display: flex;
    background: #404040;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transition: 0.5s;
    z-index: 1;
    margin-top:40px;
}

.beautiful_button_store:hover {
    transition: 0.5s;
    background-color: white;
    span{
        color: #404040;
    }
}

.beautiful_button_store span{
    position: absolute;
    left:30%;
    top: 0.3em;    
    width: 4.3em;
    color:white;
    font-family: Bellefair;
    font-size: 54px;
}

/*Footer*/

footer {
    width: 100%;
    min-height: 300px;
    background-color: black;
}

.footer_container{
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.grid_footer_top_part{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid white;
    padding: 20px;
}

.social_media{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.social_media p{
    font-family: Bellefair;
    font-size:50px;
    margin-bottom: 10px;
}

.social_media ul{
    display: flex;
    gap: 0.5em;
}

.social_media ul li{
    list-style: none;
}

.social_media ul li a i{
    width: 50px;
    height: 50px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 23px;
    transition: 0.5s;
}

.social_media ul li a i:hover{
    background: #404040;
    transition: 0.5s;
}

.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.newsletter p{
    font-size: 20px;
}

.email_container{
    display: flex;
}

#email{
    background: #0D0D0D;
    width: 400px;
    height: 35px;
    border: 1px solid white;
    border-radius: 5px 0px 0 5px;
    padding-left: 10px;
}

#email:focus{
    background: white;
}

.sign_up{
    width: 100px;
    height: 35px;
    background-color: white;
    font-family: Bellefair;
    border: 1px solid white;
    transition: 0.5s;
    border-radius: 0px 5px 5px 0px;
    font-size: 19px;
}

.sign_up:hover{
    background-color: #0D0D0D;
    color:white;
}

.footer_bottom_part{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 1px solid white;
}

.footer_bottom_part div{
    display:flex;
    flex-direction: column;
}

.footer_bottom_part div h3{
    font-size: 20px;
}

.footer_bottom_part div h3 i{
    padding-right: 10px;

}

.footer_bottom_part div p{
    color: #8d8a8a;
}

.under_footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    gap: 3em;
    font-size: 15px;
}

.links{
    display: flex;
    gap: 2em;
}

.under_footer a:hover{
    color: #404040;
    transition: 0.3s;
}

/*Global*/
.container {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color:azure;
}

button:hover{
    background: #404040;
    transition: 0.5s;
    cursor: pointer;
}

h2{
    font-family: Bellefair;
}

.circle{
    border: 15px solid #ffffff;
    border-radius: 50%;
    box-shadow: inset 0px 0px 20px 5px rgba(255, 255, 255, 0.5), 
    0px 0px 20px 5px rgba(255, 255, 255, 0.5);
}

/*Adaptation*/
@media only screen and (max-width: 539px){
    .container{
        width: 344px;
    }
    /*Navigation*/
    nav{
        font-size:13px;
    }

    nav ul{
        display: none;
    }

    /*Burger menu*/
    .burger_nav{
        display: flex;
    }


    /*Header*/
    .header__circle{
        width: 300px;
        height: 300px;
    }

    .header__statue{
        width: 80%;
        height: 80%;
        float: right;
        /**/margin-top: 50px;
    }

    
    /*About*/
    section#about{
        top: -2.4em;
    }

    .intro{
        font-size: 20px;
    }

    /**/.container_about{
        display: flex;
        flex-direction: column;
    }

    .container_about_left .heading{
        font-size: 30px;     
        text-indent: 10px; 
    }
    .text_under_heading, .text_under_image{
        font-size: 12px;
        text-indent: 10px;
    }

    .container_about_right{
        align-items: center;
    }
    .container_about_right a{
        margin-left: 20%;
    }
    
    .img-about img{
        width: 80%;
        height: auto;
    }

    .circle_about{
        width: 320px;
        height: 320px;
        left: -3em;
    }

    .container_about a{
        left: 2em;
        align-self: flex-start;
        width: 40px;
        height: 40px;
    }

    .container_about a span{
        left:40%;
        top: 0.7em;    
        width: 5em;
        font-size: 16px;
    }
    
    /*Events*/
     
    .heading_text{
        font-size: 30px;
    }

    
    .view{
        font-size: 12px;
        width: 50px;
        height: 50px;
    }

    .slider_events_container{
        width: 100%;
        height: 200px;
    }
    
    .slide{
        height: 200px;
        align-items: center;
    }

    .slide_container{
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap:5px;
    }

    .info_container p{
        font-size: 30px;
    }
    
    .date{
        font-size: 8px;
    }

    .inscription ul li{
        font-size: 20px;
    }
    
    .description{
        font-size: 8px;
    }

    .click_container{
        font-size: 10px;
    }

    .beautiful_button{
        width: 30px;
        height: 30px;
    }

    .beautiful_button span{
        top:0.9em;    
        width: 5.8em;
    }
    
    .slider_line{
        display: none;
    }

    .slider_manipulators_container{
        min-height: 5px;
    }

    .event-buttons{
        width: 100%;
        gap: 0;
        justify-content: space-between;
        align-items: center;
    }
    
    .event-buttons button{
        width: 40px;
        height: 40px;
    }

    /*Exhibition*/
    .image_container{
        width: 300px;
        height: 610px;
    }
    .tile{
        width:150px;
    }
    .tile_description{
        font-size:12px;
        display: none;
    }

    .tile p{
        display: flex;
    }
    /*Products*/
    section#products {
        min-height: 430px;
    }
    .products_heading{
        font-size: 35px;
    }

    .notswap{
        right:-7em;
        display: none;
    }
    
    .swap{ 
        left:-7em;
        display: none;
    }

    .products_slider_container{
        width: 300px;
        height: 200px;
    }

    .product_slide{
        width: 130px;
        height: 200px;
    }

    .product_prev, .product_next{
        scale: 0.7;
        opacity: 1;
    }

    .beautiful_button_store{
        width: 40px;
        height: 40px;
    }

    .beautiful_button_store span{
        left:35%;
        top: 0.4em;    
        width: 4.1em;
        font-size: 24px;
    }
    /*Footer*/

   
    .grid_footer_top_part{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social_media{
        align-items: center;
    }


    .social_media p{
        font-size:40px;
    }

    .social_media ul li a i{
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    #email{
        width: 200px;
        height: 30px;
    }
    
    .newsletter p{
        font-size: 12px;
    }

    .sign_up{
        height: 30px;
    }

    .footer_bottom_part{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
    }

    .footer_bottom_part img{
        width: 20%;
        height: 20%;
    }
    .footer_bottom_part div h3{
        font-size: 14px;
    }
    .footer_bottom_part div p{
        font-size: 10px;
    }
    .under_footer{
        font-size: 8px;
    }
}

@media only screen and (min-width: 540px){
    .container{
        width: 576px;
    }

    /*Navigation*/
    nav{
        font-size:13px;
    }

    nav ul{
        display: none;
    }

    /*Burger menu*/
    .burger_nav{
        display: flex;
    }


    /*Header*/
    .header__circle{
        width: 500px;
        height: 500px;
    }

    .header__statue{
        width: 80%;
        height: 80%;
        float: right;
    }

    
    /*About*/
    section#about{
        top: -4.4em;
    }

    .intro{
        font-size: 40px;
    }

    .container_about_left .heading{
        font-size: 55px;      
    }
    .text_under_heading, .text_under_image{
        font-size: 16px;
    }

    .container_about_right{
        align-items: center;
    }
    
    .img-about img{
        width: 80%;
        height: auto;
    }

    .circle_about{
        width: 320px;
        height: 320px;
        left: -3em;
    }

    .container_about a{
        left: 2em;
        align-self: flex-start;
        width: 60px;
        height: 60px;
    }

    .container_about a span{
        left:40%;
        top: 0.7em;    
        width: 5em;
        font-size: 24px;
    }
    
    /*Events*/
     
    .heading_text{
        font-size: 40px;
    }

    .slider_events_container{
        width: 100%;
        height: 300px;
    }
    
    .slide{
        height: 300px;
    }

    .info_container p{
        font-size: 40px;
    }
    
    .description{
        font-size: 10px;
    }

    .click_container{
        font-size: 14px;
    }

    .beautiful_button span{
        top: 1.4em;    
        width: 5.8em;
    }
    

    /*Exhibition*/
    .image_container{
        width: 450px;
        height: 410px;
    }
    .tile{
        width:150px;
    }
    .tile_description{
        font-size:12px;
        display: none;
    }

    .tile p{
        display: flex;
    }
    /*Products*/
    .products_heading{
        font-size: 40px;
    }

    .notswap{
        right:-7em;
    }
    
    .swap{ 
        left:-7em;
    }

    .products_slider_container{
        width: 450px;
        height: 200px;
    }

    .product_slide{
        width: 130px;
        height: 200px;
    }

    .product_prev, .product_next{
        scale: 0.7;
        opacity: 1;
    }

    .beautiful_button_store{
        width: 50px;
        height: 50px;
    }

    .beautiful_button_store span{
        left:35%;
        top: 0.4em;    
        width: 4.1em;
        font-size: 30px;
    }
    /*Footer*/
    .grid_footer_top_part{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_bottom_part{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
    }

    .footer_bottom_part img{
        width: 20%;
        height: 20%;
    }
    .footer_bottom_part div h3{
        font-size: 14px;
    }
    .footer_bottom_part div p{
        font-size: 10px;
    }
    .under_footer{
        font-size: 8px;
    }
}

@media only screen and (min-width: 768px){
    /*Global*/
    .container{
        width: 768px;
    }

    /*Navigation*/
    nav{
        font-size:13px;
    }

    nav ul{
        display: none;
    }

    /*Burger menu*/
    .burger_nav{
        display: flex;
    }


    /*Header*/
    .header__circle{
        width: 600px;
        height: 600px;
    }

    .header__statue{
        width: 80%;
        height: 80%;
        float: right;
    }

    
    /*About*/
    section#about{
        top: -5.2em;
    }

    .intro{
        font-size: 50px;
    }

    .container_about_left .heading{
        font-size: 55px;      
    }
    .text_under_heading, .text_under_image{
        font-size: 16px;
    }

    .container_about_right{
        align-items: center;
    }
    
    .img-about img{
        width: 80%;
        height: auto;
    }

    .circle_about{
        width: 472px;
        height: 472px;
        left: -7em;
    }

    .container_about a{
        left: 2em;
        align-self: flex-start;
        width: 60px;
        height: 60px;
    }

    .container_about a span{
        left:40%;
        top: 0.7em;    
        width: 5em;
        font-size: 24px;
    }
    
    /*Events*/
     
    .heading_text{
        font-size: 50px;
    }

    .slider_events_container{
        width: 100%;
        height: 300px;
    }
    
    .slide{
        height: 300px;
    }

    .info_container p{
        font-size: 50px;
    }
    
    .description{
        font-size: 12px;
    }

    .click_container{
        font-size: 16px;
    }

    .beautiful_button span{
        top: 1.1em;    
        width: 5.8em;
    }
    

    /*Exhibition*/
    .image_container{
        width: 690px;
        height: 620px;
    }
    .tile{
        width:230px;
    }
    .tile_description{
        font-size:12px;
        display: none;
    }

    .tile p{
        display: flex;
    }
    /*Products*/
    .products_heading{
        font-size: 50px;
    }

    .notswap{
        right:-5em;
    }
    
    .swap{ 
        left:-5em;
    }

    .products_slider_container{
        width: 100%;
        height: 400px;
    }

    .product_slide{
        width: 220px;
        height: 400px;
    }

    .product_prev, .product_next{
        scale: 1;
        opacity: 0;
    }


    .beautiful_button_store{
        width: 70px;
        height: 70px;
    }

    .beautiful_button_store span{
        left:35%;
        top: 0.4em;    
        width: 4.1em;
        font-size: 40px;
    }
    /*Footer*/
    .grid_footer_top_part{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_bottom_part{
        display: flex;
        flex-direction: row-reverse;
        align-items:flex-start;
        gap:0px;
    }

    .footer_bottom_part div h3{
        font-size: 14px;
    }
    .footer_bottom_part div p{
        font-size: 10px;
    }
    .under_footer{
        font-size: 13px;
    }
}

@media only screen and (min-width: 992px){
    /*Global*/
    .container{
        width: 992px;
    }

    /*Navigation*/
    nav{
        font-size:13px;
    }

    nav ul{
        display: flex;
    }
    /*Burger menu*/
    .burger_nav{
        display: none;
    }

    /*Header*/
    .header__circle{
        width: 800px;
        height: 800px;
    }

    .header__statue{
        width: 80%;
        height: 80%;
        float: right;
    }

    
    /*About*/
    section#about{
        top: -7em;
    }

    .intro{
        font-size: 60px;
    }

    .container_about_left .heading{
        font-size: 65px;      
    }
    .text_under_heading, .text_under_image{
        font-size: 20px;
    }

    .container_about_right{
        align-items: center;
    }
    
    .img-about img{
        width: 90%;
        height: 100%;
    }

    .circle_about{
        width: 622px;
        height: 622px;
        left: -8em;
    }

    .container_about a{
        left: 2em;
        align-self: flex-start;
        width: 80px;
        height: 80px;
    }
    
    .container_about a span{
        left:40%;
        top: 0.7em;    
        width: 5em;
        font-size: 32px;
    }

    /*Events*/
    
    .slider_events_container{
        width: 100%;
        height: 480px;
    }

    .slide{
        height: 480px;
    }

    .heading_text{
        font-size: 60px;
    }

    .info_container p{
        font-size: 67px;
    }
    
    .description{
        font-size: 15px;
    }

    .click_container{
        font-size: 20px;
    }

    .beautiful_button span{
        top: 0.7em;    
        width: 6em;
    }

    /*Exhibition*/
    .image_container{
        width: 900px;
        height: 800px;
    }
    .tile{
        width:300px;
    }
    .tile_description{
        font-size:12px;
        display: flex;
    }

    .tile p{
        display: none;
    }

    /*Products*/
    .products_heading{
        font-size: 70px;
    }

    .notswap{
        right:-3.5em;
    }
    
    .swap{ 
        left:-3.5em;
    }

    .products_slider_container{
        width: 100%;
        height: 490px;
    }

    .product_slide{
        width: 310px;
        height: 490px;
    }

    .beautiful_button_store{
        width: 70px;
        height: 70px;
    }

    .beautiful_button_store span{
        left:35%;
        top: 0.4em;    
        width: 4.1em;
        font-size: 40px;
    }
    
    /*Footer*/
    .grid_footer_top_part{
        display: grid;
    }
    .footer_bottom_part div h3{
        font-size: 18px;
    }
    .footer_bottom_part div p{
        font-size: 14px;
    }
    .under_footer{
        font-size: 15px;
    }
}

@media only screen and (min-width: 1200px){
    /*Global*/
    .container{
        width: 1200px;
    }

    /*Navigation*/
    nav{
        font-size:16px;
    }

    nav ul{
        display: flex;
    }
    /*Burger menu*/
    .burger_nav{
        display: none;
    }

    /*Header*/
    .header__circle{
        width: 1100px;
        height: 1100px;
    }

    .header__statue{
        width: 100%;
        height: 100%;
    }
    
    /*About*/

    section#about{
        top: -11em;
    }
    
    .intro{
        font-size: 91px;
    }

    .container_about_left .heading{
        font-size: 91px;  
    }

    .text_under_image{
        font-size: 24px;
    }

    .text_under_heading{
        font-size: 24px;
    }

    .container_about_right{
        align-items: center;
    }

    .circle_about{
        width: 852px;
        height: 852px;
        left: -11em;
        bottom: -12em;
    }

    .container_about a{
        left: 6em;
        margin-bottom: 10px;
        width: 80px;
        height: 80px;
    }
    .container_about a span{
        left:40%;
        top: 0.7em;    
        width: 5em;
        font-size: 32px;
    }

    /*Events*/
    .slider_events_container{
        width: 100%;
        height: 640px;
    }

    .slide{
        height: 640px;
    }

    .heading_text{
        font-size: 72px;
    }

    .info_container p{
        font-size: 67px;
    }
    
    .description{
        font-size: 15px;
    }

    .click_container{
        font-size: 20px;
    }

    .beautiful_button span{
        top: 0.7em;    
        width: 6em;
    }

    /*Exhibition*/
    .image_container{
        width: 1050px;
        height: 930px;
    }
    .tile{
        width:350px;
    }
    .tile_description{
        font-size:14px;
    }
    .tile p{
        display: none;
    }

    /*Products*/
    .products_heading{
        font-size: 80px;
    }
    .notswap{
        right:-3.5em;
    }
    
    .swap{ 
        left:-3.5em;
    }
    .products_slider_container{
        width: 100%;
        height: 550px;
    }

    .product_slide{
        width: 375px;
        height: 550px;
    }

    .beautiful_button_store{
        width: 90px;
        height: 90px;
    }

    .beautiful_button_store span{
        left:30%;
        top: 0.3em;    
        width: 4.3em;
        font-size: 54px;
    }

    /*Footer*/
    .grid_footer_top_part{
        display: grid;
    }

    .footer_bottom_part div h3{
        font-size: 20px;
    }
    .footer_bottom_part div p{
        font-size: 16px;
    }
    .under_footer{
        font-size: 15px;
    }
}

@media only screen and (min-width: 1400px){
    /*Global*/
    .container{
        width: 1400px;
    }

    /*Navigation*/
    nav{
        font-size:16px;
    }

    nav ul{
        display: flex;
    }
    /*Burger menu*/
    .burger_nav{
        display: none;
    }

    /*Header*/
    .header__circle{
        width: 1340px;
        height: 1340px;
    }
    
    .header__statue{
       width: 100%;
       height: 100%;
    }

    /*About*/

    section#about{
        top: -11em;
    }
    
    .intro{
        font-size: 91px;
    }

    .container_about_left .heading{
        font-size: 91px;  
    }

    .text_under_image{
        font-size: 24px;
    }

    .text_under_heading{
        font-size: 27px;
    }

    .container_about_right{
        align-items: center;
    }

    .circle_about{
        width: 852px;
        height: 852px;
        left: -11em;
        bottom: -6em;
    }

    .container_about a{
        left: 6em;
        margin-bottom: 10px;
        width: 80px;
        height: 80px;
    }

    .container_about a span{
        left:40%;
        top: 0.7em;    
        width: 5em;
        font-size: 32px;
    }
    /*Events*/

    .heading_text{
        font-size: 72px;
    }

    .slider_events_container{
        width: 100%;
        height: 640px;
    }

    .slide{
        height: 640px;
    }

    .info_container p{
        font-size: 67px;
    }
    
    .description{
        font-size: 15px;
    }

    .click_container{
        font-size: 20px;
    }

    .beautiful_button span{
        top: 0.7em;    
        width: 6em;
    }

    /*Exhibition*/
    .image_container{
        width: 1230px;
        height: 1090px;
    }
    .tile{
        width:410px;
    }
    .tile_description{
        font-size:16px;
    }

    .tile p{
        display: none;
    }
    /*Products*/
    .products_heading{
        font-size: 100px;
    }

    .notswap{
        right:-3.5em;
    }
    
    .swap{ 
        left:-3.5em;
    }
    
    .products_slider_container{
        width: 100%;
        height: 600px;
    }

    .product_slide{
        width: 450px;
        height: 600px;
    }

    .beautiful_button_store{
        width: 90px;
        height: 90px;
    }

    .beautiful_button_store span{
        left:30%;
        top: 0.3em;    
        width: 4.3em;
        font-size: 54px;
    }

    /*Footer*/
    .grid_footer_top_part{
        display: grid;
    }
    .footer_bottom_part div h3{
        font-size: 20px;
    }
    .footer_bottom_part div p{
        font-size: 16px;
    }
    .under_footer{
        font-size: 15px;
    }
    
}
